@font-face {
  font-family: 'JetBrains Mono';
  src: url('/public/JetBrainsMono.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains-it Mono';
  src: url('/public/JetBrainsMono-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'BLANGKON Remastered';
  src: url('/public/BLANGKONRemastered-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}