// ========================================
// SCSS ПЕРЕМЕННЫЕ - ОСНОВНЫЕ ЗНАЧЕНИЯ
// ========================================

// Цвета
$primary-color: #fff;
$secondary-color: #6c757d;
$tertiary-color: #90ff00;
$hover-tertiary-color: #73c900;
// Цвета для текста
$text-primary: #fff;
$text-secondary: #666;

// Шрифты
$font-jet-brains: 'JetBrains Mono', sans-serif;
$font-jet-brains-italic: 'JetBrains Mono Italic', sans-serif;
$font-arial-black: 'Arial Black', sans-serif;
$font-arial-black-italic: 'Arial Black Italic', sans-serif;
$fotn-arial: 'Arial', sans-serif;

// Переходы
$transition: all 0.3s ease;
$transition-fast: all 0.15s ease;
$transition-slow: all 0.5s ease;

// Брейкпоинты
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;